extends layout

block content
    .content-column.mdl-cell.mdl-cell--12-col
        each group, groupIndex in servicesList
            section(id='scroll-tab-' + groupIndex, class= groupIndex==active ? 'is-active' : '').mdl-layout__tab-panel
                .content-grid.mdl-grid
                    each card, i in group
                        - var color = card.color == '1' ? 'mdl-color--accent' : 'mdl-color--primary'
                        - var real = card.real == '1' ? 'swap_horiz' : 'autorenew'
                        .content-column.mdl-cell.mdl-cell--3-col
                            .dashboard-card.mdl-card.mdl-shadow--16dp
                                .dashboard-title-card.mdl-card__title.mdl-shadow--2dp.mdl-color-text--white(class= color)
                                    h2.mdl-card__title-text #{card.campaign}
                                .mdl-card__title
                                    h5.mdl-card__title-text #{card.designation}
                                .mdl-card__supporting-text.dashboard-text
                                    span.dashboard-label-service <strong>Service:</strong>
                                    span.dashboard-text-service #{card.outbound} - #{card.name}
                                    span.dashboard-label-producer <strong>Producers:</strong>
                                    span.dashboard-text-producer(id=groupIndex + '-producer' + i) #{card.producer}
                                        .mdl-tooltip(for=groupIndex + '-producer' + i) #{card.producer}
                                    span.dashboard-label-path <strong>Path:</strong>
                                    span.dashboard-text-path(id=groupIndex + '-path' + i) #{card.path}
                                        .mdl-tooltip(for=groupIndex + '-path' + i)  #{card.path}
                                .mdl-card__menu
                                    button.mdl-button.dashboard-button-mode.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                                        i.material-icons #{real}
                                .dashboard-button-modify.mdl-card__actions.mdl-card--border
                                    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(class= color)
                                        | View Exchange
                                    .mdl-layout-spacer
                                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                                        i.material-icons settings
