extends layout

block content
    .viewer-content-column.content-column.mdl-cell.mdl-cell--12-col
        #mdl-table
            table#mdl-table.viewer-data-table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                thead
                    tr
                        th.viewer-sorted.mdl-data-table__header--sorted-descending TIME
                        th
                            span.viewer-center GROUP
                        th
                            span.viewer-center CAMPAIGN
                        th
                            span.viewer-center MODE
                        th
                            span.viewer-center METHOD
                        th PRODUCER
                        th PATH
                        th
                            span.viewer-center STATUS
                        th
                            span.viewer-center
                                i.viewer-material-icons.material-icons timer
                        th
                            span.viewer-center(id='viewer-th.rrp') RRP
                                .mdl-tooltip(for='viewer-th.rrp') Request Response Pairs   
                tbody.list
                    each rrp, i in rrpList
                        tr
                            - var ts = rrp.date.match(/([0-9]{4}-[0-9]{2}-[0-9]{2}) ([0-9]{2}:[0-9]{2}:[0-9]{2}).([0-9]{3})/)
                            td.date
                                span.viewer-center
                                    span #{ts[1]}&nbsp
                                    span.viewer-span-time #{ts[2]}
                                    | &nbsp
                                    span #{ts[3]}
                            td.group
                                span.viewer-center #{rrp.group}
                            td.campaign 
                                span.viewer-center #{rrp.campaign}
                            td
                                span.viewer-center
                                    if rrp.mode == 0
                                        i.viewer-material-icons.material-icons autorenew
                                    else
                                        i.viewer-material-icons.material-icons swap_horiz
                            td.method
                                span.viewer-center.mdl-shadow--2dp(class= 'viewer-method-' + rrp.method.toLowerCase()) 
                                    | #{rrp.method}
                            td.producer #{rrp.producer}
                            td.path #{rrp.path}
                            td.status
                                span.viewer-center.mdl-shadow--2dp(class= 'viewer-status-' + rrp.status.substr(0,1) + '00') 
                                    | #{rrp.status}
                            td.duration 
                                span.viewer-center #{rrp.duration}
                            td
                                span.viewer-center 
                                    button.viewer-button-open.mdl-button.mdl-js-button.mdl-button--icon(id=i)
                                        i.material-icons keyboard_arrow_down

                        // Hide
                        tr.viewer-hide(class= 'viewer-code-' + i)
                            td(colspan='10')
                                span.rrp-headers-left
                                    // Request headers
                                    table.mdl-data-table.rrp-table.mdl-js-data-table.mdl-shadow--2dp
                                        thead
                                            tr
                                                th.mdl-data-table__cell--non-numeric Request headers
                                                th
                                                    .rrp-table-right
                                                        button.rrp-button-table.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--primary
                                                            i.material-icons keyboard_arrow_down
                                        tbody.rrp-body-hide
                                            tr
                                                td.mdl-data-table__cell--non-numeric accept-encoding
                                                td.mdl-data-table__cell--non-numeric gzip, deflate
                                            tr
                                                td.mdl-data-table__cell--non-numeric user-agent
                                                td.mdl-data-table__cell--non-numeric node-superagent/2.3.0
                                            tr
                                                td.mdl-data-table__cell--non-numeric content-type
                                                td.mdl-data-table__cell--non-numeric application/json; charset=UTF-8
                                span.rrp-headers-right
                                    // Response headers
                                    table.mdl-data-table.rrp-table.mdl-js-data-table.mdl-shadow--2dp
                                        thead
                                            tr
                                                th.mdl-data-table__cell--non-numeric Response headers
                                                th
                                                    .rrp-table-right
                                                        button.rrp-button-table.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--primary
                                                            i.material-icons keyboard_arrow_down
                                        tbody.rrp-body-hide
                                            tr
                                                td.mdl-data-table__cell--non-numeric accept-encoding
                                                td.mdl-data-table__cell--non-numeric gzip, deflate
                                // Request
                                table.mdl-data-table.rrp-table.mdl-js-data-table.mdl-shadow--2dp
                                    thead
                                        tr
                                            th.mdl-data-table__cell--non-numeric Request
                                            th
                                                .rrp-table-right
                                                    button.rrp-button-table.rrp-code.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--primary
                                                        i.material-icons keyboard_arrow_down
                                    tbody.rrp-body-hide
                                        tr
                                            td(colspan='2')
                                                    pre
                                                        code.xml
                                                            | <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:v2="http://www.orange.com/rbq/g3/soap/v2-0123456789">
                                                            | <soapenv:Header/>
                                                            | <soapenv:Body>
                                                            | <v2:SOAP><credential><id>6</id></credential></v2:SOAP>
                                                            | </soapenv:Body>
                                                            | </soapenv:Envelope>
                                // Response
                                table.mdl-data-table.rrp-table.mdl-js-data-table.mdl-shadow--2dp
                                    thead
                                        tr
                                            th.mdl-data-table__cell--non-numeric Response
                                            th
                                                .rrp-table-right
                                                    button.rrp-button-table.rrp-code.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--primary
                                                        i.material-icons keyboard_arrow_down
                                    tbody.rrp-body-hide
                                        tr
                                            td(colspan='2')
